}

#vglFM {
	font-family: 'Rubik', sans-serif;
	border-radius: 5px 5px 0px 0px;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
}

#vglFM::before{
	content: '';
	position: absolute;
	background: #2d2d2d;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -99;
}
#vglFM header {
	padding: 20px;
}

#vglFM .hide {
	display: none !important;
}

#vglFM .background {
	background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.3;
		z-index: -1;
}

#vglFM header > .content {
	position: relative;
	width: 100%;
}

#vglFM header .top {
	display: flex;
}

#vglFM .station-img {
	position: relative;
	display: inline-block;
	margin-right: 20px;
	cursor: pointer;
}

#vglFM #togglePlay {
	font-size: 80px;
	border: none;
	background: transparent;
	cursor: pointer;
	outline: none;
}

#vglFM #togglePlay .vagaButton::before{
	top: 0;
	height: 64px;
}

#vglFM #togglePlay .vagaButton:after{
	content: '';
}

#vglFM .station-img > img {
    width: 170px;
    height: 170px;
    background: #333;
    border-radius: 5px;
    border: none;
    object-fit: cover;
    box-shadow: 0px 8px 16px 0px #00000091;
}

#vglFM .options {
	display: inline-flex;
}

#vglFM .options button {
	width: 30px;
	height: 30px;
	background: none;
	border: none;
	padding: 0;
	justify-content: center;
	align-items: center;
	display: inline-flex;
	margin: 0px 5px;
	cursor: pointer;
	outline-color: #CF0;
}

#vglFM .options button img {
    width: 20px;
}

#vglFM .station-info > div {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#vglFM .station-info > div img {
    width: 15px;
    height: 15px;
    margin-right: 3px;
}

#vglFM .station-info > div p {
    color: #cf0;
    font-size: 12px;
    margin: 0;
}

#vglFM .info {
    min-width: 105px;
    flex: 1;
		display: flex;
}

#vglFM #artistName {
    color: #CF0;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 19px;
}

#vglFM #songName {
    margin: 0;
    color: #fff;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 24px;
}

#vglFM .progress-info .bar {
    height: 4px;
    background: #5e5e5e;
    border-radius: 5px;
    margin-top: 10px;
	overflow: hidden;
    position: relative;
}

#vglFM #progress {
    background: #ccff00;
    background: -moz-linear-gradient(left, #ccff00 0%, #00aacc 100%);
    background: -webkit-linear-gradient(left, #ccff00 0%,#00aacc 100%);
    background: linear-gradient(to right, #ccff00 0%,#00aacc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccff00', endColorstr='#00aacc',GradientType=1 );
    width: 0;
    height: 100%;
	-webkit-transition: width 500ms;
    transition: width 500ms;
}

#vglFM .timer {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

#vglFM .timer span {
    color: #FFF;
    font-size: 12px;
}

#vglFM .share-options > a img {
    height: 45px;
}

#vglFM .share-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
		position: absolute;
		right: 0;
		top: 10px;
}

#vglFM a {
	text-decoration: none;
}

#vglFM #nextSongList li .content img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 25px;
	margin-right: 15px;
	float: left;
}

#vglFM #nextSongList li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 15px;
    border-bottom: 1px solid #3f3f3f;
    padding-bottom: 15px;
}

#vglFM #nextSongList {
    padding: 15px;
    margin: 0;
    max-height: calc(100vh - 298px - 41px);
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 0;
		background-color: #00000082;
}

#vglFM #nextSongList li .content {
    display: flex;
    align-items: center;
	min-width: 0;
}

#vglFM #nextSongList li .content > a{
		width: 100%;
		display: flex;
		align-items: center;
}

#vglFM #nextSongList li .content .song-info {
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#vglFM #nextSongList li .content .song-info p {
    margin: 0;
    color: #FFF;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px;
}

#vglFM #nextSongList li .content .song-info p:nth-child(1) {
    color: #CF0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#vglFM #nextSongList li .next-time {
    display: flex;
    align-items: center;
    color: #969696;
    font-size: 12px;
    white-space: nowrap;
}

#vglFM #nextSongList li .next-time::before{
	content: 'TOCARÁ ÀS ';
	margin-right: 3px;
}

#vglFM #nextSongList li:last-child {
    border-bottom: none;
}

#vglFM footer {
  background: #00000054;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 25px;
  justify-content: center;
  flex-direction: column;
  border-radius: 0px 0px 5px 5px;
	position: relative;
}

#vglFM footer p {
    margin: 0;
    color: white;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 10px;
}

#vglFM footer > div a {
    width: 110px;
    height: 35px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}

#vglFM footer > div {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#vglFM footer .footer-info{
	height: auto;
}

#vglFM .play-button {
    background-image: url('../img/gplay.svg');
    margin-right: 10px;
}

#vglFM .store-button {
    background-image: url('../img/appstore.svg');
}

#vglFM .play-button:hover {
    background-image: url('../img/gplay-full.svg');
}

#vglFM .store-button:hover {
    background-image: url('../img/appstore-full.svg');
}

#vglFM #errorPopup {
	position: absolute;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	background: #000000b8;
	text-align: center;
	padding: 8px 30px;
	border-radius: 5px;
	color: #e6e6e6;
	font-size: 15px;
	font-weight: 300;
	top: 50%;
}

#vglFM #errorPopup button {
	position: absolute;
    border: none;
    color: #cf0;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background: transparent;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

#vglFM ::-webkit-scrollbar {
    width: 10px;
}

#vglFM ::-webkit-scrollbar-track {
    background: #1b1b1b;
    border-radius: 10px 10px 0 0;
}

#vglFM ::-webkit-scrollbar-thumb {
    background: #969696;
    border-radius: 10px;
}

#vglFM .share-options > a img:hover,
#vglFM .options button:hover, #vglFM #togglePlay:hover {
    opacity: 0.7;
}

#vglFM #shareBox {
	position: absolute;
	background: #FFF;
	z-index: 1;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	-webkit-transform: translate3d(-50%, -50%, 0);
	max-width: 240px;
	border-radius: 5px;
	padding: 14px;
	min-width: 215px;
	box-shadow: 0px 8px 16px 0px #00000091;
}

#vglFM #shareBox #closeShare {
	position: absolute;
	right: 8px;
	border: none;
	color: #333;
	font-size: 20px;
	padding: 0;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	top: 8px;
	outline-color: #0AC;
	cursor: pointer;
}

#vglFM #shareBox p {
	margin: 0;
	font-size: 16px;
	padding-right: 20px;
	text-align: center;
}

#vglFM #shareBox ul {
	padding: 0 40px;
	margin: 0;
	margin-top: 15px;
	margin-right: 20px;
}

#vglFM #shareBox ul li {
	list-style: none;
	margin-bottom: 10px;
}

#vglFM #shareBox ul li a {
	display: flex;
	align-items: center;
	color: #000;
	text-decoration: none;
}

#vglFM #shareBox ul li a img {
	width: 27px;
	background: #3a549f;
	height: 27px;
	object-fit: contain;
	border-radius: 25px;
	padding: 4px;
	margin-right: 10px;
}

#vglFM #shareBox ul li a span {
	font-size: 14px;
	display: block;
	width: 100%;
	text-align: center;
}

#vglFM #shareBox ul li.share-twitter a img {
    background: #39b8ff;
}

#vglFM #shareBox ul li.share-google a img {
    background: #dc4a38;
}

#vglFM #shareBox ul li.share-whatsapp a img {
    background: #56d164;
}

#vglFM #shareBox ul li.share-messenger a img {
    background: #3692fb;
}

#vglFM #shareBox ul li a:hover {
    opacity: 0.7;
}

body, html{
	width: 100%;
	height: 100%;
	margin: 0;
}

@media (max-width: 360px){
	#vglFM .station-img > img{
		width: 100px;
		height: 100px;
	}

	#vglFM #nextSongList li .content img {
		width: 40px;
		height: 40px;
	}

	#vglFM #nextSongList{
		max-height: calc(100vh - 248px - 70px - 5px);
	}
}

@media (max-width: 430px){
	#vglFM #nextSongList li .content .song-info p{
		font-size: 14px;
	}

	#vglFM #nextSongList li .content .song-info p:nth-child(1),
	#vglFM .station-info > div p
	{
		font-size: 10px;
	}

	#vglFM #nextSongList li .next-time::before{
		content: '';
	}
}

@media (max-width: 295px){
	#vglFM #nextSongList li .content img{
		display: none;
	}

	#vglFM #nextSongList li .content .song-info{
		width: 100%;
	}
}

@media (max-width: 360px) and (max-height: 312px){ /* TODO: Check if Used */
	#vglFM header{
		padding-top: calc((100vh - 188px) / 2);
		padding-bottom: calc((100vh - 188px) / 2);
	}
}

@media (max-height: 184px){
	#vglFM header{
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

@media (max-height: 394px){
	#vglFM #nextSongList{
		display: none;
	}

	#vglFM{
		display: flex;
		flex-wrap: nowrap;
	}
	#vglFM footer{
		width: 100%;
		max-width: 300px;
		height: auto;
		flex-shrink: 1;
	}

	#vglFM header{
		display: flex;
		padding-top: calc((100vh - 171px) / 2);
		padding-bottom: calc((100vh - 144px) / 2);
		width: calc(100% - 490px);
		min-width: 350px;
		flex: 1;
	}
}
#vglFM footer > a{
	position: relative;
}

#vglFM footer .footer-logo{
	height: 65px;
	margin-bottom: 15px;
	z-index: 4;
  position: relative;
}

#vglFM footer > a::before{
	content: '';
	position: absolute;
	background-color: #CCFF00;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	display: inline-block;
	z-index: 2;
	left: 50%;
	transform: translateX(-50%);
	top: 12px;
  box-shadow: 0 0px 40px 5px #CCFF00;
}

#vglFM footer .footer-info > div{
	display: flex;
	flex-direction: row;
}

#vglFM header .info > .song-info{
	flex: 1;
	padding: 0 20px;
}
#vglFM header .station-info{
	flex: 1;
	color: white;
  max-width: 40%;
}

#vglFM #stationDescription{
  text-overflow: ellipsis;
  overflow: hidden;
	max-height: 76px;
}

/* @media (max-width: 960px) and (max-height: 394px) {
	#vglFM footer{
		max-width: 350px;
	}
} */
@media (max-width: 1160px) and (max-height: 395px){
	#vglFM header{
		padding-top: calc((100vh - 144px) / 2);
	}
}

@media (max-width: 930px) and (min-width: 800px) and (min-height: 395px) {
	#vglFM #nextSongList{
		max-height: calc(100vh - 298px - 11px);
	}
}

@media (max-width: 800px) and (min-height: 395px) {
	#vglFM #nextSongList{
		max-height: calc(100vh - 298px - 71px);
	}
}

@media (max-width: 1160px) and (max-height: 395px),
				(max-width: 930px) and (min-height: 395px){

	#vglFM .station-img > img{
		width: 140px;
		height: 140px;
	}

	#vglFM footer{
		padding: 0 15px;
	}

	#vglFM #stationDescription{
		display: none;
	}

	#vglFM .info{
		display: block;
	}

	#vglFM header .info > .song-info{
		padding: 0;
	}

	#vglFM .share-options{
		right: -10px;
		top: -10px;
	}
}

@media (min-height: 395px){
	#vglFM .share-options{
		top: 0;
	}

	#vglFM footer{
		height: 160px;
		justify-content: center;
		background: #000000ba;
		padding-bottom: 10px;
	}

	#vglFM footer .footer-logo{
		margin-top: 10px;
	}

	#vglFM footer > a::before{
		top: 21px;
    left: 50%;
	}
}

@media (max-width: 400px) and (min-height: 395px){
	#vglFM footer .footer-logo{
		height: 65px;
		margin-top: 10px;
	}
}

@media (max-width: 380px) and (min-height: 395px){
	#vglFM footer .footer-logo{
		height: 50px;
	}

	#vglFM footer p{
		font-size: 12px;
	}

	#vglFM footer > a::before{
		top: 20px;
		width: 20px;
		height: 20px;
	}
}

@media (max-width: 800px) and (max-height: 394px){
	#vglFM footer .footer-logo{
		height: 60px;
	}

	#vglFM footer > a::before{
		top: 10px;
	}

	/*#vglFM footer {
    max-width: 260px;
	} */

	#vglFM header .station-info {
		max-width: none;
	}
}

@media (min-width: 800px) and (min-height: 394px){
	#vglFM footer{
		flex-direction: row;
		height: 100px;
	}
	#vglFM footer .footer-logo{
		margin-right: 20px;
	}
	#vglFM footer > a::before{
		top: 21px;
    left: 103px;
	}
}

@media (max-width: 930px) and (min-height: 394px){
	#vglFM header .station-info{
		max-width: calc(100% - 68px);
	}
}

@media (max-width: 400px){ /* Info do player caí para baixo  */
	#vglFM{
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	#vglFM header{
		flex: 1;
		flex-basis: 385px;
		flex-grow: 0;
    display: flex;
		align-items: center;
		position: relative;
	}
	#vglFM header .top{
		flex-direction: column;
	}
	#vglFM .background{
		height: 100vh;
	}
	#vglFM .station-img{
		flex-grow: 1;
		text-align: center;
		margin: 0;
	}
	#vglFM .station-img > img{
		width: auto;
		height: 100%;
		max-height: 150px;
		max-width: 150px;
	}
	#vglFM .info{
		margin-top: 0;
		text-align: center;
	}
	#vglFM header .station-info{
		max-width: none;
	}
	#vglFM .share-options{
		position: fixed;
		right: 5px;
		top: 5px;
	}
	#vglFM #nextSongList{
		flex: 1;
	}
	#vglFM .station-info > div{
		display: none;
	}
	#vglFM #stationDescription{
		display: block;
	}
}

@media (max-width: 400px)  and (max-height: 640px) {
	#vglFM #nextSongList{
		display: none;
	}
	#vglFM header{
		flex-grow: 1;
	}
	#vglFM .station-img > img{
		max-height: 190px;
		max-width: 190px;
	}
	#vglFM header > .content{
		margin-top: 20px;
	}
}

@media (max-height: 333px){ /* Modificar menu "Compartilhar" */
	#vglFM #shareBox{
		max-width: 330px;
	}

	#vglFM #shareBox ul{
		display: flex;
		justify-content: space-around;
		margin: 0;
		margin-top: 15px;
		padding: 0;
	}

	#vglFM #shareBox ul li{
    margin: 0;
		padding: 0;
	}

	#vglFM #shareBox ul li a > img{
		margin-right: 0;
		width: 34px;
		height: 34px;
	}

	#vglFM #shareBox ul li a > span{
		display: none;
	}
}
